{% extends 'base.html' %}
    
{% block content %}
    {% if user.is_authenticated %}
    <div class="page-header">
        <h1>Dodaj użytkownika mobilnego<br>
            <small>Wypełnij dane, aby dodać użytkownika aplikacji mobilnej</small>
        </h1>
    </div>

    <form method="POST" action=""> {% csrf_token %}
        <b><p> Login </p></b>
        {{ form.username }}
        <br />
        <br />
        <b><p> Hasło </p></b>
        {{ form.password1 }}
        <br />
        <br />
        <b><p> Potwierdź Hasło </p></b>
        {{ form.password2 }}
        <br />
        <br />
        <input type='submit' value = "Dodaj " class="btn btn-primary btn-lg">
        <br />
        <br />
        <i><p> {{error_message}} </p></i>
    </form> 

    {% else %}
    <div class="page-header">
        <h1>Musisz być zalogowany !<br>
        </h1>
    </div>
    {% endif %}
{% endblock %}
