{% extends 'base.html' %}
    
{% block content %}
    {% if user.is_authenticated %}
    <div class="page-header">
        <h1>Dodaj użytkownika webowego<br>
            <small>Wypełnij dane, aby dodać użytkownika aplikacji webowej</small>
        </h1>
    </div>

    <form method="POST" action=""> {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value = "Dodaj " class="btn btn-primary btn-lg">
    </form> 
    {% else %}
    <div class="page-header">
        <h1>Musisz być zalogowany !<br>
        </h1>
    </div>
    {% endif %}
{% endblock %}