{% extends 'base.html' %}

{% block content %}
    <div class="page-header">
        <h1>Panel Logowania<br>
            <small> Zaloguj się by zacząć !</small>
        </h1>
    </div>

        <form id="login_form" method="post" action="loginPage">
            {% csrf_token %}
            <b>Login:</b> <input type="text" name="username" value="" size="20" />
            <br />
            <br />
            <b>Hasło:</b> <input type="password" name="password" value="" size="20" />
            <br />
            <br />
            <input type="submit" value="Zaloguj" class="btn btn-primary"/>
        </form>

{% endblock %}
