 {% extends 'base.html' %}
    
{% block content %}
    <div class="page-header">
        <h1>Mobile Users<br>
            <small> List of users using mobile application</small>
        </h1>
    </div>
        <div class="table-responsive">
        	<table class="table table-striped">
        		<thead>
        			<tr>
        				<th>#</th>
        				<th>Login</th>
        				<th>Remove User</th>
        				<th>Modify User's Data</th>
						<th>Set User's route</th>
                        <th>Users Routes</th>
        			</tr>	
        		</thead>
        		<tbody>
        {% for mobileUser in mobileUsers %}
        		<tr>
        			<td>{{ mobileUser.id }}</td>
					<td>{{ mobileUser.login }}</td>
					<td>
                    <form action="" method="POST"> 
                        {% csrf_token %}
                        <span class="glyphicon glyphicon-trash"></span>
                        <input type="submit" value="Remove {{ mobileUser.login }} {{ mobileUser.id }}" name="remove" class="btn btn-primary">
                    </form>
					</td>
					<td>
                    <form action="" method="POST"> 
                        {% csrf_token %}
                        <span class="glyphicon glyphicon-cog"></span>
                        <input type="submit" value="Modify {{ mobileUser.login }} {{ mobileUser.id }}" name="modify" class="btn btn-primary">
                    </form>
					</td>
					<td>
                    <form action="" method="POST"> 
                        {% csrf_token %}
                        <span class="glyphicon glyphicon-pushpin"></span>
                        <a href="setRoute{{ mobileUser.id }}" class="btn btn-primary">Set route {{ mobileUser.login }} {{ mobileUser.id }}</a>
                    </form>
					</td>
                    <td>
                         <a href="mobileUsersRoutes{{ mobileUser.id }}" class="btn btn-primary">See {{ mobileUser.login }} {{ mobileUser.id }} routes</a>
                    </td>
        		</tr>
        {% endfor %}
        		</tbody>
        	</table>
        </div>
    
{% endblock %}
