{% extends 'base.html' %}
    
{% block content %}

    {% if user.is_authenticated %}
    <div class="page-header">
        <h1>Trasy<br>
            <small> Wylistowane trasy użytkownika</small>
        </h1>
    </div>

    <div class="table-responsive">
    	<table class="table table-striped">
        	<thead>
        		<tr>
        			<th>#</th>
        				<th>Data wykonania</th>
        				<th>Usuń trase</th>
        				<th>Szczegóły trasy</th>
                        <th>Na mapie</th>
        			</tr>	
        	</thead>
        	<tbody>
        	{% for route in routes %}
        	<tr>
        		<td>{{ route.id }}</td>
				<td>{{ route.date }}</td>
				<td>
                    <form action="" method="POST"> 
                        {% csrf_token %}
                        <span class="glyphicon glyphicon-trash"></span>
                        <input type="submit" value="Usuń trasę użytkownikowi#{{route.id}}" name="unset" class="btn btn-primary">
                    </form>
				</td>
				<td>
            		<a href="routeDetails{{ route.id }}" class="btn btn-primary">Szczegóły#{{ route.id }}</a>
				</td>
                <td>
                    <a href="routeOnMap{{ route.id }}" class="btn btn-primary">Na Mapie#{{ route.id }}</a>
                </td>
        	</tr>
        	{% endfor %}
        	</tbody>
        </table>
    </div>
    {% else %}
    <div class="page-header">
        <h1>Musisz być zalogowany !<br>
        </h1>
    </div>
    {% endif %}

{% endblock %}
