{% extends 'base.html' %}
    
{% block content %}
    {% if user.is_authenticated %}
    <div class="page-header">
        <h1>Użytkownicy aplikacji mobilnej<br>
            <small>Lista użytkowników korzystających z aplikacji mobilnej</small>
        </h1>
    </div>

     <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Szukaj według wybranych atrybutów</h3>
        </div>
        <form id="login_form" method="post" action="mobileUsers">
    {% csrf_token %}
    <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <th>#</th>
                    <th>Login</th>
                    <th>Szukaj</th>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="number" name="id" value="" size="10" /> </td>
                        <td><input type="text" name="Login" value="" size="10" /></td>
                        <td><input type="submit" value="Szukaj" class="btn btn-primary"/></span></td>
                    </tr>
                </tbody>
            </table>
    </div>
    </form>
    </div>

        <div class="table-responsive">
        	<table class="table table-striped">
        		<thead>
        			<tr>
        				<th>#</th>
        				<th>Login</th>
        				<th>Usuń</th>
        				<th>Modyfikuj dane</th>
						    <th>Dodaj trasę</th>
                <th>Trasy</th>
                <th>Śledź</th>
                <th>Historia tras</th>
        			</tr>	
        		</thead>
        		<tbody>
        {% for mobileUser in mobileUsers %}
        		<tr>
        			<td>{{ mobileUser.id }}</td>
              <td>{{ mobileUser.username }}</td>
              <td>
                <form action="" method="POST"> 
                    {% csrf_token %}
                    <input type="hidden" name="_id" value="{{ mobileUser.id }}">
                    <input type="submit" value="Usuń" name="remove" class="btn btn-primary">
                </form>
              </td>
              <td>
                    <a href="modifyMobileUser{{ mobileUser.id }}" class="btn btn-primary">Modyfikuj</a>
              </td>
              <td>
                <form action="" method="POST"> 
                    {% csrf_token %}
                    <a href="setRoute{{ mobileUser.id }}" class="btn btn-primary">Dodaj trasę</a>
                </form>
              </td>
              <td>
                   <a href="mobileUsersRoutes{{ mobileUser.id }}" class="btn btn-primary">Zobacz trasy</a>
              </td>
              <td>
                   <a href="trackMobileUser{{ mobileUser.id }}" class="btn btn-primary">Śledź</a>
              </td>
              <td>
                   <a href="mobileUserHistory{{ mobileUser.id }}" class="btn btn-primary">Historia</a>
              </td>
        		</tr>
        {% endfor %}
        		</tbody>
        	</table>
        </div>
        {% else %}
        <div class="page-header">
            <h1>Musisz być zalogowany !<br></h1>
        </div>
        {% endif %}
    
{% endblock %}
