{% extends 'base.html' %}
    
{% block content %}
    {% if user.is_authenticated %}
    <div class="page-header">
        <h1>Historia tras użytkownika<br>
            <small>{{ mobileUser }}</small>
        </h1>
    </div>

     <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Szukaj według wybranych atrybutów</h3>
        </div>
        <form id="login_form" method="post" action="mobileUsers">
    {% csrf_token %}
    <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <th>#</th>
                    <th>Data</th>
                <tbody>
                    <tr>
                        <td><input type="text" name="id" value="" size="10" /> </td>
                        <td><input type="text" name="Login" value="" size="10" /></td>
                    </tr>
                </tbody>
            </table>
    </div>
    </form>
    </div>
        <div class="table-responsive">
        	<table class="table table-striped">
        		<thead>
        			<tr>
        				<th>#</th>
        				<th>Data</th>
                        <th>Nazwa</th>
                        <th>Mapa</th>
                        <th>Szczegóły trasy</th>
        			</tr>	
        		</thead>
        		<tbody>
                {% for date, route in routesWithDate %}
                <tr>
                    <td>{{ route|first }}</td>
         			<td>{{ date }}</td>
                    <td>{{ route|last }}</td>
                    <td>
                        <a href="routeOnMap{{ route|first }}" class="btn btn-primary">Na mapie</a>
                    </td>
                    <td>
                        <a href="routeHistoryDetails{{ route|first }}" class="btn btn-primary">Szczegóły</a>
                    </td>
        		</tr>
                {% endfor %}
        		</tbody>
        	</table>
        </div>
    
    {% else %}
        <div class="page-header">
            <h1>Musisz być zalogowany !<br></h1>
        </div>
    {% endif %}
    
{% endblock %}
