{% extends 'base.html' %}
    
{% block content %}
    {% if user.is_authenticated %}
    <div class="page-header">
        <h1>Użytkownicy aplikacji mobilnej<br>
            <small>Lista użytkowników korzystjących z aplikacji mobilnej</small>
        </h1>
    </div>

     <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Szukaj według wybranych atrybutów</h3>
        </div>
        <form id="login_form" method="post" action="mobileUsers">
    {% csrf_token %}
    <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <th>#</th>
                    <th>Login</th>
                    <th>Szukaj</th>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" name="id" value="" size="10" /> </td>
                        <td><input type="text" name="Login" value="" size="10" /></td>
                        <td><input type="submit" value="Szukaj" class="btn btn-primary"/></span></td>
                    </tr>
                </tbody>
            </table>
    </div>
    </form>
    </div>

        <div class="table-responsive">
        	<table class="table table-striped">
        		<thead>
        			<tr>
        				<th>#</th>
        				<th>Login</th>
        				<th>Usuń użytkownika</th>
        				<th>Modyfikuj dane użytkownika</th>
						<th>Dodaj trasę użytkownikowi</th>
                        <th>Trasy użytkownika</th>
        			</tr>	
        		</thead>
        		<tbody>
        {% for mobileUser in mobileUsers %}
        		<tr>
        			<td>{{ mobileUser.id }}</td>
					<td>{{ mobileUser.login }}</td>
					<td>
                    <form action="" method="POST"> 
                        {% csrf_token %}
                        <span class="glyphicon glyphicon-trash"></span>
                        <input type="submit" value="Usuń {{ mobileUser.login }} {{ mobileUser.id }}" name="remove" class="btn btn-primary">
                    </form>
					</td>
					<td>
                    <form action="" > 
                        {% csrf_token %}
                        <span class="glyphicon glyphicon-cog"></span>
                        <input type="submit" value="Modyfikuj {{ mobileUser.login }} {{ mobileUser.id }}" name="modify" class="btn btn-primary">
                    </form>
					</td>
					<td>
                    <form action="" method="POST"> 
                        {% csrf_token %}
                        <span class="glyphicon glyphicon-pushpin"></span>
                        <a href="setRoute{{ mobileUser.id }}" class="btn btn-primary">Dodaj trasę {{ mobileUser.login }} {{ mobileUser.id }}</a>
                    </form>
					</td>
                    <td>
                         <a href="mobileUsersRoutes{{ mobileUser.id }}" class="btn btn-primary">Zobaczy {{ mobileUser.login }}  {{ mobileUser.id }} trasy</a>
                    </td>
        		</tr>
        {% endfor %}
        		</tbody>
        	</table>
        </div>
        {% else %}
        <div class="page-header">
            <h1>Musisz być zalogowany !<br></h1>
        </div>
        {% endif %}
    
{% endblock %}
