{% extends 'base.html' %}
    
{% block content %}
    {% if user.is_authenticated %}
    <div class="page-header">
      <h1>Modyfikuj użytkownika webowego: {{webUser}}<br>
            <small>zostaw puste pole aby nie modyfikować</small>
        </h1>
    </div>


    <form method="POST" action=""> {% csrf_token %}
        <b>Login:</b> <input type="text" name="name" value="" size="20" />
        <br />
        <br />
        <b>Hasło:</b> <input type="password" name="password" value="" size="20" />
        <br />
        <br />
        <input type="radio" name="role" value="admin">Administrator<br>
        <input type="radio" name="role" value="manager" checked="checked">Menadżer<br>
        <br />
        <input type="submit" value="Zatwierdź" class="btn btn-primary"/>
    </form> 

    {% else %}
    <div class="page-header">
        <h1>Musisz być zalogowany !<br>
        </h1>
    </div>
    {% endif %}
{% endblock %}
