{% extends 'base.html' %}
    
{% block content %}
    {% if user.is_authenticated %}
    <div class="page-header">
        <h1>Trasy<br>
            <small> Lista stworzonych wcześniej tras</small>
        </h1>
    </div>

 <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Szukaj według wybranych atrybutów</h3>
        </div>
        <form id="login_form" method="post" action="routes">
    {% csrf_token %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <th>#</th>
                    <th>Nazwa</th>
                    <th>Tylko trasy nie przyznane</th>
                    <th>Tylko trasy przyznane</th>
                    <th>Szukaj</th>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" name="Id" value="" size="10" /> </td>
                        <td><input type="text" name="Name" value="" size="10" /></td>
                        <td><input type="radio" type="checkBox" name="set" value="set"</td>
                        <td><input type="radio" type="checkBox" name="set" value="unset"</td>
                        <td><input type="submit" value="Szukaj" class="btn btn-primary"/></span></td>
                    </tr>
                </tbody>
            </table>
    </div>
    </form>
</div>

    <div class="table-responsive">
    	<table class="table table-striped">
        	<thead>
        		<tr>
        			<th>#</th>
                <th>Nazwa</th>
        				<th>Usuń trasę</th>
        				<th>Szczegóły trasy</th>
                <th>Mapa</th>
                <th>Przyporządkuj użytkownikowi</th>
                <th>Przyporządkowana</th>
        			</tr>	
        	</thead>
        	<tbody>
        	{% for route in routes %}
        	<tr>
        		<td>{{ route.id }}</td>
                <td>{{ route.name }}</td>
				<td>
                    <form action="" method="POST"> 
                        {% csrf_token %}
                        <span class="glyphicon glyphicon-trash"></span>
                        <input type="hidden" name="_id" value="{{route.id}}">
                        <input type="submit" value="Usuń" name="remove" class="btn btn-primary">
                    </form>
				</td>
				<td>
            		<a href="routeDetails{{ route.id }}" class="btn btn-primary">Szczegóły</a>
				</td>
                <td>
                    <a href="routeOnMap{{ route.id }}" class="btn btn-primary">Na mapie</a>
                </td>
				<td>
            		<a href="setUserToRoute{{ route.id }}" class="btn btn-primary">Przyporządkuj</a>
				</td>
				<td>
          {% if route.id in routeIsSet %}
                <span class="glyphicon glyphicon-ok"></span>
            {% endif %}
				</td>
        	</tr>
          {% endfor %}
        	</tbody>
        </table>
    </div>
    {% else %}
    <div class="page-header">
        <h1>You have to login !<br>
        </h1>
    </div>
    {% endif %}

{% endblock %}
