{% extends 'base.html' %}
    
{% block content %}
    <div class="page-header">
        <h1>Set Route to {{mobileUser}}<br>
            <small>Choose route</small>
        </h1>
    </div>

    <div class="table-responsive">
    	<table class="table table-striped">
        	<thead>
        		<tr>
        			<th>#</th>
        				<th>Do Date</th>
        				<th>Remove Route</th>
        				<th>Route Details</th>
                        <th>Map</th>
        			</tr>	
        	</thead>
        	<tbody>
        	{% for route in routes %}
        	<tr>
        		<td>{{ route.id }}</td>
				<td>{{ route.doDate }}</td>
				<td>
                    <form action="" method="POST"> 
                        {% csrf_token %}
                        <input type="submit" value="Set Route#{{route.id}}" name="set" class="btn btn-primary">
                    </form>
				</td>
				<td>
            		<a href="routeDetails{{ route.id }}" class="btn btn-primary">Details#{{ route.id }}</a>
				</td>
                <td>
                    <a href="routeOnMap{{ route.id }}" class="btn btn-primary">On Map#{{ route.id }}</a>
                </td>
        	</tr>
        	{% endfor %}
        	</tbody>
        </table>
    </div>
{% endblock %}
