{% extends 'base.html' %}
    
{% block content %}
    {% if user.is_authenticated %}

      {% if notSet %}
      <div class="page-header">
          <h1>Dodaj trasę użytkownikowi: {{mobileUser}}<br>
              <small>Wybierz trasę</small>
          </h1>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Szukaj według wybranych atrybutów</h3>
          </div>
          <form id="login_form" method="post" action="setRoute{{user_id}}">
      {% csrf_token %}
          <div class="table-responsive">
              <table class="table table-striped">
              <thead>
                  <th>#</th>
                  <th>Nazwa</th>
                  <th>Szukaj</th>
              </thead> 
              <tbody>
                  <td><input type="number" name="Id" value="" size="10" /> </td>
                  <td><input type="text" name="Name" value="" size="10" /></td>
                  <td><input type="submit" value="Szukaj" class="btn btn-primary"/></span></td>
              </tbody>
          </table>
        </div>
        </form>
        </div>
        <table class="table table-striped">
            <thead>

              <tr>
                <th>#</th>
                  <th>Nazwa</th>
                  <th>Z datą (rrrr-mm-dd)</th>
                  <th>Ustaw trasę</th>
                  <th>Szczegóły trasy</th>
                  <th>Na Mapie</th>
                </tr>	
            </thead>
            <tbody>
            {% for route in routes %}
            <tr>
              <td>{{ route.id }}</td>
          <td>{{ route.name }}</td>        
                  
          
          <form action="" method="POST"> 
            {% csrf_token %}
              <input type="hidden" name="_id" value="{{route.id}}">
          <td><input type="text" name="date" size="9"</td> 
          <td><input type="submit" value="Ustaw trasę" name="set" class="btn btn-primary"></td>
             
          </form>
          <td>
                  <a href="routeDetails{{ route.id }}" class="btn btn-primary">Szczegóły</a>
          </td>
                  <td>
                      <a href="routeOnMap{{ route.id }}" class="btn btn-primary">Na mapie</a>
                  </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
          <input type="submit" value="Powrót" name="Powrót" class="btn btn-success" onClick="javascript:history.go(-1);">
      {% else %}
      <div class="page-header">
        <h1>Nie można przyporządkować tej trasy</h1>
      </div>

      <div class="alert alert-warning">
        Ta trasa jest już przyporządkowana
      </div>
      <input type="submit" value="Powrót" name="Powrót" class="btn btn-success" onClick="javascript:history.go(-1);">

      {% endif %}

    {% else %}
    <div class="page-header">
        <h1>Musisz być zalogowany !<br></h1>
    </div>
    {% endif %}
    
{% endblock %}
